
body{

    /*background-image: url("src/mejores-universidades-estudiar-desarrollo-software.jpg");*/
    background-image: url("src/imgF11.jpg");
    background-size: cover;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}

.image img{ /*foto de presentacion*/

     float: left;
     border: 2px solid white;
     margin-right: 0px; /* Margen derecho para separar la imagen del título */
     top: 20px; 
     left: 20px; 
     width: 120px; 
     height: 120px;
}
.line{ /*lineas que div la secciones*/
    border-top: 1px solid #ccc; /* Agrega un borde superior de 1px de ancho */
    margin-top: 20px; /* Agrega un espacio de 20px encima del elemento */
    margin-bottom: 20px;
    opacity: 0.5;
    margin-left: 20px;
    margin-right: 20px;

}
header{/*flex*/

    height: 150px;
    display: flex; /* Utiliza Flexbox para alinear la imagen y el título */
    align-items: center; /* Alinea verticalmente */
    font-style:italic;    
    color: aliceblue;
}
.title-container {/*nombre*/
 
    display: flex; /* Utiliza Flexbox para alinear los dos títulos */
    flex-direction: column; /* Alinea verticalmente los dos títulos */
}
header h1{

    margin: 0; /* Elimina el margen por defecto */
    padding-left: 20px; /* Espacio izquierdo para separar el título de la imagen */
    padding-bottom: 10px;
}
header h2 {

    margin: 0; /* Elimina el margen por defecto */
    padding-left: 20px; /* Espacio izquierdo para separar el título de la imagen */
}
.contenedor-main /*dividir el contenedor en dos columnas*/
{

    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    
}
.centrado-izquierda { /*propiedades de la columna izq del main*/

    flex: 0.9;
    color:black;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
    

} 

#dPersonales , #iAcademica, #iLaboral, #referencias, #cont{/**asignar espacio izq a las secciones principales*/
    padding-left: 45px;
}

.lTec , .lsH
{/*quitar viñetas y agregar espacio a las listas*/
    padding-left: 75px;
    list-style-type: none;

}

input {

    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 4px #ccc;
    padding-bottom: 7px;
    padding-right: 15px;
  }

.centrado-derecha {

    flex: 0.2;
    padding: 30px;
    background-color: black;
   
} 

#init 
{/*estilo del titulo hoja de vida*/
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
     color: #000;
     text-shadow: 2px 2px #fff;
}
#ref1 , #ref2, #prAcademica
{
    padding-left: 30px;
}
.info1{/*compe y habilidades*/
    padding-left: 30px;
    

}

#obj
{/*obj personal*/
    padding-left: 15px;
    padding-right: 20px;
}
/*footer*/

.imgGit
{

    top: 5px; 
    left: 5px; 
    width: 35px; 
    height: 35px;
}
.link{
    top: 5px; 
    left: 25px; 
    width: 35px; 
    height: 35px;
}
.gmail{
    top: 5px; 
    left: 5px; 
    width: 35px; 
    height: 35px;
}
footer{
    top: 100px;
    padding-left: 750px;
    bottom: 100px;
}
footer .imagesfooter a{
    display: inline-block;
    width: 55px;
    height: 60px;
    cursor: pointer;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 5px;
    margin-bottom: 5px; 
}
nav ul {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    list-style-type: none;
    width: 100%;
  }
  
  nav li {

    margin: 10px 0;
    text-align: left;
  }
  
a { /*navegador*/

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
a:hover {

    
    text-decoration: underline;
  }
.lsAcademica{
    list-style-type: none;

}
.lsAcademica li{
    margin: 10px;
}
/*contacto contenedores*/
.contact /*dividir el contenedor en dos columnas*/
{

    display: flex;
    padding-left: 100px;

    
}

.cont-cont-der{

    flex: 1px;
} 
.cont-cont-izq {
    flex: 1px;

    

    
    

} 


#enviar{
    padding-top: 30px;
    text-align:left; /* centrar el texto */

    padding-bottom: 30px;
    cursor: pointer; /* cambiar el cursor al pasar el ratón */
}
/*dpersonales*/
.dP
{
    padding-left: 30px;
    list-style-type: none;


}
.dt{
    list-style-type: none;
    font-weight: bold;

}
